<p><a name="sections"></a></p>


# Kaggle Housing Price

- <a href="#DS">Data Cleaning</a><br>
- <a href="#DM">Data Manipulation</a><br>
- <a href="#miss">Handling Missing Data</a><br>
- <a href="#grouping">Grouping and aggregration</a><br>
- <a href="#time">Time Series</a><br>
- <a href="#sol">Solutions</a><br>

In [48]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

<p><a name="DC"></a></p>

# Data Cleaning

In [28]:
df_raw = pd.read_csv('train.csv',index_col=0)
#df_raw_test = pd.read_csv('test.csv',index_col=0)
#df_raw = pd.concat([df_raw_train, df_raw_test], sort = False) 
df_raw.sample(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
631,70,RM,50.0,9000,Pave,Grvl,Reg,Lvl,AllPub,Corner,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Abnorml,124000
694,30,RL,60.0,5400,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,12,2006,WD,Abnorml,108480
941,90,RL,55.0,12640,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,150900
695,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,MnPrv,NaN,0,4,2009,WD,Normal,141500
38,20,RL,74.0,8532,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,153000
1017,20,RL,73.0,11883,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,203000
924,120,RL,50.0,8012,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,193000
18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
518,60,RL,79.0,10208,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,265000
1238,60,RL,41.0,12393,Pave,NaN,IR2,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,9,2006,WD,Normal,195000

In [ ]:
df_raw.dtypes

## Take the logarithm of the observed sales price

In [29]:
df_clean = df_raw.copy()

In [30]:
df_clean.SalePrice = np.log(df_clean.SalePrice)

In [31]:
df_clean.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,12.247694
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,12.109011
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,12.317167
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,11.849398
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,12.429216
6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,11.870600
7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,12.634603
8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,12.206073
9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,11.774520
10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,11.678440

## Missing Values

In [3]:
np.sum(df_clean.isnull())

MSSubClass          0
MSZoning            4
LotFrontage       486
LotArea             0
Street              0
Alley            2721
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         24
MasVnrArea         23
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           81
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu      1420
GarageType        157
GarageYrBlt       159
GarageFinish      159
GarageCars          1
GarageArea          1
GarageQual        159
GarageCond        159
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           2909
Fence            2348
MiscFeature      2814
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice        1459
Length: 80, dtype: int64

In [ ]:
df_clean.columns[df_clean.isnull().any()]

In [32]:
# 259 LotFrontage  - replace missing value with 0 
df_clean.LotFrontage = df_clean.LotFrontage.fillna(0)

# 1369 Alley - replace with None
df_clean.Alley = df_clean.Alley.fillna('None')

# 8 MasVnrType and MasVnrArea - replace MasVnrType with None and MasVnrArea with 0
df_clean.MasVnrType = df_clean.MasVnrType.fillna('None')
df_clean.MasVnrArea = df_clean.MasVnrArea.fillna(0)

# 37 basement: BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinType2- replace with Nb
df_clean.BsmtQual = df_clean.BsmtQual.fillna('Nb')
df_clean.BsmtCond = df_clean.BsmtCond.fillna('Nb')
df_clean.BsmtExposure = df_clean.BsmtExposure.fillna('Nb')
df_clean.BsmtFinType1 = df_clean.BsmtFinType1.fillna('Nb')
df_clean.BsmtFinType2 = df_clean.BsmtFinType2.fillna('Nb')

# 690 FireplaceQu - replace with Nf
df_clean.FireplaceQu = df_clean.FireplaceQu.fillna('Nf')

# 81 Garage: GarageType, GarageYrBlt, GarageFinish, GarageQual, GarageCond - replace with Ng and year with 0 
# GarageYrBlt ???
df_clean.GarageType = df_clean.GarageType.fillna('Ng')
df_clean.GarageFinish = df_clean.GarageFinish.fillna('Ng')
df_clean.GarageQual = df_clean.GarageQual.fillna('Ng')
df_clean.GarageCond = df_clean.GarageCond.fillna('Ng')
df_clean.GarageYrBlt = df_clean.GarageYrBlt.fillna(0)

# 1453 PoolQC - replace with Np
df_clean.PoolQC = df_clean.PoolQC.fillna('Np')

# 1179 Fence - replace with Nf
df_clean.Fence = df_clean.Fence.fillna('Nf')

# 1406 MiscFeature - replace with None    
df_clean.MiscFeature = df_clean.MiscFeature.fillna('None')

# 1 Electrical
df_clean = df_clean[pd.notnull(df_clean.Electrical)]

In [27]:
np.sum(df_clean.isnull())

MSSubClass          0
MSZoning            4
LotFrontage         0
LotArea             0
Street              0
Alley               0
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType          0
MasVnrArea          0
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual            0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu         0
GarageType          0
GarageYrBlt         0
GarageFinish        0
GarageCars          1
GarageArea          1
GarageQual          0
GarageCond          0
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC              0
Fence               0
MiscFeature         0
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice        1459
Length: 80, dtype: int64

## Categorical Feature Processsing

In [33]:
# convert numerical to categorical 
df_clean[['MSSubClass','OverallQual','OverallCond']] = df_clean[['MSSubClass','OverallQual','OverallCond']].astype(str)

# ordinal encoding 
# MSSubClass??
# BldgType??

ordinal_list = ['OverallQual','OverallCond','ExterCond','BsmtQual','BsmtCond','HeatingQC','KitchenQual','Functional','FireplaceQu','GarageQual','PoolQC']

enc = OrdinalEncoder()
df_clean[ordinal_list] = enc.fit(df_clean[ordinal_list])

# OverallQual
# OverallCond
# ExterCond
# BsmtQual
# BsmtCond
# HeatingQC
# KitchenQual
# Functional
# FireplaceQu
# GarageQual
# PoolQC

# one hot encoding - drops the first category in each feature parse = false
## dummies 
df_clean = pd.get_dummies(df_clean, columns=df_clean.select_dtypes(include=['object']).columns, drop_first=True)


# le = LabelEncoder()  
# df_clean['MSZoning']= le.fit_transform(df_clean['MSZoning']) 
# onehotencoder = OneHotEncoder() 
# onehotencoder.fit_transform(df_clean).toarray() 
# df_clean['Geography']= le.fit_transform(df_clean['Geography'])

In [ ]:
df_clean.select_dtypes(include=['object']).columns

In [ ]:
df_clean.dtypes

In [ ]:
df_clean.select_dtypes(include=['object'])

<p><a name="DC"></a></p>

# Linear Model Regression

In [54]:
df_regression = df_clean.copy()

x_m = df_regression.drop(["SalePrice"], axis=1)
y_m = df_regression.loc[:,'SalePrice']
X_train, X_test, y_train, y_test = train_test_split(x_m, y_m, test_size=0.3, random_state=42)

In [55]:
ols = LinearRegression()
ols.fit(X_train, y_train)
print("R^2 for train set: %f" %ols.score(X_train, y_train))

print('-'*50)

print("R^2 for test  set: %f" %ols.score(X_test, y_test))

R^2 for train set: 0.933392
--------------------------------------------------
R^2 for test  set: 0.754857

In [39]:
ols.fit(x_m, y_m)
print("beta: " + str(np.round(ols.coef_, 3)))
print("beta_0: " + str(np.round(ols.intercept_, 3)))
print("RSS: %.2f" % np.sum((ols.predict(x_m) - y_m) ** 2))
print("R^2: %.5f" % ols.score(x_m, y_m))

beta: [ 0.000e+00  0.000e+00  2.000e-03  2.000e-03  0.000e+00  0.000e+00
  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00 -0.000e+00
  0.000e+00  2.400e-02  3.700e-02  4.100e-02  4.200e-02  2.500e-02
 -1.650e-01 -9.000e-03  2.600e-02  1.000e-03 -1.200e-02  0.000e+00
  0.000e+00  0.000e+00 -0.000e+00 -0.000e+00  0.000e+00  0.000e+00
 -0.000e+00  4.000e-03  4.000e-03 -2.230e-01 -1.670e-01  5.000e-03
  1.500e-02  4.100e-02  2.100e-01 -2.630e-01  6.900e-02 -1.320e-01
  1.000e-02  3.700e-02 -1.160e-01 -9.000e-02 -3.400e-02  6.700e-01
  5.480e-01  5.840e-01  5.990e-01  4.200e-02  4.400e-02 -9.000e-03
  3.500e-02 -8.300e-02  2.000e-03 -3.800e-02  6.500e-02  4.000e-03
 -0.000e+00  5.200e-02 -1.400e-02  1.270e-01  2.400e-02  3.000e-03
 -3.120e-01  2.000e-03 -6.900e-02 -1.700e-02 -2.100e-02 -3.500e-02
  2.060e-01 -9.000e-02 -5.100e-02 -9.400e-02 -2.910e-01 -6.000e-02
  5.000e-03  9.500e-02 -4.700e-02  3.200e-02  9.800e-02 -5.000e-02
 -4.700e-02  1.000e-02 -3.000e-02 -4.400e-02  1.680e-01 -7.000e-03
  4.900e-02  8.500e-02  9.400e-02  1.420e-01  5.980e-01  4.400e-02
  7.500e-02  1.650e-01 -0.000e+00  5.890e-01  1.700e-02  0.000e+00
 -6.800e-01  0.000e+00 -0.000e+00  7.400e-02  5.000e-03 -3.400e-02
 -7.300e-02 -7.200e-02  2.600e-01 -5.300e-02 -1.770e-01  1.450e-01
  1.260e-01  6.800e-02  1.330e-01 -1.610e-01 -4.420e-01 -1.460e-01
  3.800e-02  9.770e-01  2.861e+00  3.225e+00  3.095e+00  0.000e+00
  2.645e+00  2.026e+00 -0.000e+00  0.000e+00 -0.000e+00 -1.350e-01
  0.000e+00 -2.240e-01 -7.000e-02  8.600e-02 -1.550e-01 -1.120e-01
  1.049e+00 -1.230e-01  7.200e-02 -2.340e-01  1.500e-02 -0.000e+00
  1.410e-01  2.040e-01 -0.000e+00  3.240e-01  4.600e-02  8.600e-02
  1.960e-01 -2.530e-01  8.600e-02 -8.800e-02  1.940e-01 -7.000e-02
  2.350e-01 -7.200e-02  1.260e-01  1.400e-01  1.510e-01 -3.000e-02
 -1.900e-02 -4.200e-02 -6.900e-02 -7.500e-02  4.800e-02 -0.000e+00
 -3.060e-01  8.200e-02  2.100e-02 -4.200e-02  7.000e-03 -1.600e-02
  4.500e-02 -4.600e-02 -4.200e-02 -1.200e-02 -1.000e-02 -1.530e-01
 -1.280e-01 -1.070e-01 -4.200e-02 -1.690e-01 -9.800e-02  3.800e-02
 -1.800e-02 -3.390e-01  4.200e-02  1.860e-01  2.000e-03  1.020e-01
 -1.380e-01  0.000e+00  9.000e-03  2.250e-01  2.900e-01  2.880e-01
  3.550e-01  2.120e-01  4.260e-01  4.260e-01 -2.700e-02 -3.700e-02
 -1.810e-01 -1.150e-01  4.260e-01 -6.000e-03 -1.240e-01  2.500e-02
  5.400e-02 -2.400e-02  3.300e-02  0.000e+00 -7.000e-03 -3.600e-02
  0.000e+00  7.800e-02 -4.100e-02  0.000e+00 -1.200e-02 -4.700e-02
 -9.000e-02 -8.200e-02 -2.040e-01 -1.200e-01 -4.000e-02  0.000e+00
  2.030e-01  9.600e-02  9.900e-02  2.960e-01]
beta_0: -9.239
RSS: 2.55
R^2: 0.95971

In [40]:
df_train.sample(10)

,LotFrontage,LotArea,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1028,71.0,9520,2007,2008,338.0,1513,0,125,1638,1646,...,0,0,1,0,0,0,0,0,0,1
826,114.0,14803,2007,2008,816.0,1636,0,442,2078,2084,...,0,0,1,0,0,0,0,0,0,1
280,83.0,10005,1977,1977,299.0,392,0,768,1160,1156,...,0,0,0,0,1,0,0,0,1,0
272,73.0,39104,1954,2005,0.0,226,1063,96,1385,1363,...,0,0,0,0,1,0,0,0,1,0
698,57.0,6420,1952,1952,0.0,210,551,219,980,1148,...,0,0,0,0,1,0,0,0,1,0
1239,63.0,13072,2005,2005,0.0,0,0,1141,1141,1141,...,0,0,0,0,1,0,0,0,0,0
776,32.0,4500,1998,1998,320.0,866,0,338,1204,1204,...,0,0,0,0,1,0,0,0,1,0
612,0.0,10395,1978,1978,233.0,605,0,427,1032,1032,...,0,0,0,0,1,0,0,0,1,0
420,65.0,8450,1968,1968,0.0,775,0,281,1056,1056,...,0,0,0,0,1,0,0,0,1,0
35,60.0,7313,2005,2005,246.0,1153,0,408,1561,1561,...,0,0,0,0,1,0,0,0,1,0